body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u3616 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u3617 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3618 {
  position:absolute;
  left:1080px;
  top:380px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3619 {
  position:absolute;
  left:990px;
  top:313px;
}
#u3619_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background-image:none;
}
#u3619_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3620 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#646464;
}
#u3621 {
  position:absolute;
  left:21px;
  top:0px;
  width:49px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#646464;
}
#u3622 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3623 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u3624 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3625 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3619_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  visibility:hidden;
  background-image:none;
}
#u3619_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3626 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u3627 {
  position:absolute;
  left:21px;
  top:0px;
  width:49px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u3628 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3629 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u3630 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3631 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3632 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#04B5C0;
  text-align:center;
  line-height:18px;
}
#u3633 {
  position:absolute;
  left:1105px;
  top:312px;
  width:57px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#04B5C0;
  text-align:center;
  line-height:18px;
}
#u3633_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#04B5C0;
  text-align:center;
  line-height:18px;
}
#u3633.mouseOver {
}
#u3634 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u3636 {
  position:absolute;
  left:1080px;
  top:314px;
  width:15px;
  height:16px;
}
#u3637 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
