body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u3638 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u3639 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:67px;
}
#u3640 {
  position:absolute;
  left:1012px;
  top:288px;
  width:150px;
  height:67px;
}
#u3641 {
  position:absolute;
  left:2px;
  top:26px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3642 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9100;
  text-align:center;
  line-height:18px;
}
#u3643 {
  position:absolute;
  left:1002px;
  top:312px;
  width:57px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9100;
  text-align:center;
  line-height:18px;
}
#u3643_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9100;
  text-align:center;
  line-height:18px;
}
#u3643.mouseOver {
}
#u3644 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u3645 {
  position:absolute;
  left:977px;
  top:312px;
  width:19px;
  height:18px;
}
#u3646 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3647 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#04B5C0;
  text-align:center;
  line-height:18px;
}
#u3648 {
  position:absolute;
  left:1105px;
  top:312px;
  width:57px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#04B5C0;
  text-align:center;
  line-height:18px;
}
#u3648_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#04B5C0;
  text-align:center;
  line-height:18px;
}
#u3648.mouseOver {
}
#u3649 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u3651 {
  position:absolute;
  left:1080px;
  top:314px;
  width:15px;
  height:16px;
}
#u3652 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
