body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u3601 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u3602 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:67px;
}
#u3603 {
  position:absolute;
  left:1012px;
  top:288px;
  width:150px;
  height:67px;
}
#u3604 {
  position:absolute;
  left:2px;
  top:26px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3605 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#04B5C0;
  text-align:center;
  line-height:18px;
}
#u3606 {
  position:absolute;
  left:1105px;
  top:312px;
  width:57px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#04B5C0;
  text-align:center;
  line-height:18px;
}
#u3606_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#04B5C0;
  text-align:center;
  line-height:18px;
}
#u3606.mouseOver {
}
#u3607 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u3609 {
  position:absolute;
  left:1080px;
  top:314px;
  width:15px;
  height:16px;
}
#u3610 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3611 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9100;
  text-align:center;
  line-height:18px;
}
#u3612 {
  position:absolute;
  left:1002px;
  top:312px;
  width:57px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9100;
  text-align:center;
  line-height:18px;
}
#u3612_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9100;
  text-align:center;
  line-height:18px;
}
#u3612.mouseOver {
}
#u3613 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u3614 {
  position:absolute;
  left:977px;
  top:312px;
  width:19px;
  height:18px;
}
#u3615 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
